
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.bodypack {
    padding: 0 35px;
}

.navbar {
    background-color: rgb(53, 11, 11);
    text-align: center;
}

.navbar-ul {
    color: azure;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}

.navbar-ul li {
    list-style: none;
    padding-top: 15px;
    padding-right: 89px;
    padding-left: 15px;
    padding-bottom: 15px;
    position: relative;
}

.active,
.navbar-ul li:hover {
    background: rgba(255, 255, 255, 0.151);
    border-radius: 5px 5px 0 0;
}

.navbar-ul li a {
    text-decoration: none;
    color: azure;
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(48, 22, 22, 0.305);
    padding: 10px;
    /* border-radius: 2px; */
    min-width: 200px;
    z-index: 999;
}

.sub-menu li {
    padding: 8px;
    color: azure;
    cursor: pointer;
    white-space: nowrap;
    text-decoration:underline;
    text-align: left;
}

.sub-menu li:hover {
    /* background-color: rgba(80, 38, 38, 0.26); */
    background-color: rgba(48, 22, 22, 0.305);
}

.show-sub-menu {
    display: block;
}

.fas {
    padding-right: 10px;
}

#hero {
    background-image: url(images/IMG_9374.JPG); 
    background-size: cover;
    height: 100vh;
    min-width: 400px;
    /* position: relative; */
}

#hero p {
    font-size: 25px;
    width: 35%;
    position: absolute;
    top: 200px;
    left: 150px;
    padding: 65px;
    color: rgba(126, 150, 150, 0.685);
    transition: transform 0.2s ease-in-out; box-shadow: 0.2s ease-in-out;
}


#hero p:hover {
    border-radius: 15px;
    color: azure;
    transform: translateY(-5PX);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 13px rgba(0, 0, 0, 0.22);
}

.read-more-text {
    display: none;
}


#more-Btn, #more-bio-btn {
    border: none;
    background-color: rgba(126, 150, 150, 0);
    color: rgba(110, 131, 131, 0.918);
    font-size: 18px;
    font-weight: 600;
}

.display-text {
    display: inline;
}

.about {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    column-gap: 1.5%;
    row-gap: 3%;
    grid-template-areas: 
    "h1 h1 h1 h1 h1 h1"
    "bio bio bio bio msg msg"
    "bio bio bio bio msg msg"
    "bio bio bio bio msg msg"
    "fam fam fam fam msg msg"
    "fam fam fam fam msg msg"
    "fam fam fam fam msg msg"
}

.header {
    grid-area: h1;
    max-height: 80px;
    background-color: rgb(63, 14, 14);
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 0;
}


.header2 {
    grid-area: h1;
    height: 50px;
    width: 100%;
    background-color: rgb(63, 14, 14);
    border-radius: 15px 15px 0 0;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.bio {
    grid-area: bio;
    background-color: rgb(215, 209, 220);
    transition: transform 0.2s ease-in-out; box-shadow: 0.2s ease-in-out;
    box-shadow: gray 5px 5px 15px;
    border-radius: 15px;
    position: relative;
}
.bio:hover {
    box-shadow: gray 8px 8px 15px;
    transform: translateY(-5PX);
}


.family {
    grid-area: fam;
    background-color: rgb(215, 209, 220);
    border-radius: 15px;
    box-shadow: gray 5px 5px 15px;
    transition: transform 0.2s ease-in-out; box-shadow: 0.2s ease-in-out;
    font-size: 18px;
    padding: 40px;
    padding-top: 80px;
    position: relative;
}

.family img {
    width: 20%;
    height: auto;
    border-radius: 8px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.family::after {
    clear: both;
}
.family:hover {
    box-shadow: gray 8px 8px 15px;
    transform: translateY(-5PX);
}

.more-bio {
    display: none;
}
.more-bio.display-text {
    display: inline;
}

.message-me {
    grid-area: msg;
    background-image: url(images/IMG_9380.JPG);
    background-size: cover;
    border-radius: 15px;
    box-shadow: gray 5px 5px 15px;
    transition: transform 0.2s ease-in-out; box-shadow: 0.2s ease-in-out;
}
.message-me:hover {
    transform: translateY(-5PX);
    box-shadow: gray 8px 8px 15px;
}






/* ul.social-icons {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex;
}
ul li {
  list-style:none;
}
ul li a {
  display:block;
  position:relative;
  width:100px;
  height:100px;
  line-height:100px;
  font-size:40px;
  text-align:center;
  text-decoration:none;
  color:#404040;
  margin: 0 30px;
  transition:.5s;
}
ul li a span {
  position:absolute;
  transition: transform .5s;
}
ul li a span:nth-child(1),
ul li a span:nth-child(3){
  width:100%;
  height:3px;
  background:#404040;
}
ul li a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}
ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}

ul li a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}

ul li a span:nth-child(2),
ul li a span:nth-child(4){
  width:3px;
  height:100%;
  background:#404040;
}
ul li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
ul li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}

.facebook:hover {
  color: #3b5998;
}
.facebook:hover span { 
  background: #3b5998;
}
.twitter:hover {
  color: #1da1f2;
}
.twitter:hover span { 
  background: #1da1f2;
}
.instagram:hover {
  color: #c32aa3;
}
.instagram:hover span { 
  background: #c32aa3;
}
.google:hover {
  color: #dd4b39;
}
.google:hover span { 
  background: #dd4b39;
}
ul li a .twitter {
  color: #1da1f2;
}
ul li a:hover:nth-child(3) {
  color: #c32aa3;
}
ul li a:hover:nth-child(4) {
  color: #dd4b39;
}
 */
